  label {
    margin: 0 20px;
  }

  button {
    margin-left: 20px;
  }

  body {
    margin-top: 15px;
  }

  #titulo {
    margin: 20px 0;
  }

  .tabla-scrolleable {
    height: 400px;
    overflow: auto;
  }
